%title1{
  position: absolute;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  left: 121px;
  font-weight: 800;
}
%title2{
  position: absolute;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  left: 121px;
}
%fonbtn{
  position: absolute;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #000000;;
  width: 289px;
  height: 61px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: 0.5s;
  &:focus{
    outline: none;
  }
  &:hover{
    transform: scale(0.9);
    color: white;
    background-color: black;
    box-shadow: 1px 1px 5px #eae5f5, -1px -1px 5px #e0dadd;
  }
}


.bg-newwww{
  background-image: url("../Images/fon/fon1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.loader img {
  width: 250px;
  height: 250px;
  animation: load 0.8s infinite;
}
@keyframes load {
  50% {
    transform: scale(1.2);
  }
}
.ll {
  animation: fade1 0.8s ease-in-out 2s 1 forwards; }
@keyframes fade1 {
  100% {
    transform: scale(0); }
}


.navbar {

  .navbar-collapse{

    .navbar-nav{
      .mobile-item{
        display: none;
      }
      .nav-item{
        .nav-link{
          letter-spacing: -0.02em;
          opacity: 0.4;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: #000000;
          margin-right: 30px ;
          position: relative;
          transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);

          &:before{
            content: "";
            pointer-events: none;
            position: absolute;
          }
          &:after{
            content: "";
            pointer-events: none;
            position: absolute;
          }
          &:before{
            border: 0px solid transparent;
            border-radius: 4px;
            width: 0%;
            height: 0%;
            bottom: 0%;
            right: 0%;
          }
          &:after{
            border: 0px solid transparent;
            border-radius: 4px;
            width: 0%;
            height: 0%;
            bottom: 0%;
            right: 0%;
          }
          &:before{
            border-bottom-width:0.5px;
            border-left-width: 0.5px;
          }
          &:after{
            border-top-width: 0.5px;
            border-right-width: 0.5px;
          }
          &:hover{
            color: black;
            opacity: 1;
          }
          &:hover::before{
            border-color: black;
            transition: border-color 0s, width 0.3s,
            height 0.3s;
            width: 100%;
            height: 90%;
            transition-delay: 0s, 0s, 0.3s;
          }
          &:hover::after{
            border-color: black;
            transition: border-color 0s, width 0.3s,
            height 0.3s;
            width: 100%;
            height: 90%;
            transition-delay: 0s, 0.3s, 0s;
          }
        }
      }
    }

  }
}
.right-menu{
  a{
    margin-right: 40px;
  }
}
.desktop-brand{
  .navbar-brand{
    img{
      width: 60px;
      height: 55px;
      margin-right: 250px;
    }

  }
}
.mobile-brand{
  .navbar-brand{
    img{
      width: 50px;
      height: 44px;
      margin-right: 250px;
    }
  }
  display: none;
}
.mobile-menu{
  display: none;
}
.mobile-brand{
  display: none;
}
.right-menu{
  .collapse-hover{

    img{
      transition: 0.2s;
      &:hover{
        transform: scale(1.2);
      }
    }
    text-decoration: none;
  }
  .shop{
    .modal-dialog{
      .modal-content{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../Images/main/1111.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        .name{
          font-size: 50px;
          font-weight: bold;
          color: #174fa8;
        }
        .modal-header{
          margin-top: 100px;
          img{
            width: 80px;
            height: 80px;
          }
        }
        .modal-body{
          margin-top: 50px;
          margin-bottom: 50px;
          .text{
            font-weight: bold;
            font-size: 30px;
            color: #10274f;
          }
        }
        .modal-footer{
          margin-bottom: 70px;
        }
      }
      margin-top: 0;
      margin-bottom: 0;
      max-width: 100%;
      max-height: 800px;
    }

  }
  .love{
    .modal-dialog{
      .modal-content{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../Images/main/fon2.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        .name{
          font-size: 50px;
          font-weight: bold;
          color: #174fa8;
        }
        .modal-header{
          margin-top: 128px;
          img{
            width: 50px;
            height: 50px;
          }
        }
        .modal-body{
          margin-top: 50px;
          margin-bottom: 50px;
          .text{
            font-weight: bold;
            font-size: 30px;
            color: #10274f;
          }
        }
        .modal-footer{
          margin-bottom: 70px;
        }
      }
      margin-top: 0;
      margin-bottom: 0;
      max-width: 100%;
      max-height: 800px;
    }
  }
  .person{
    img{
      transition: 0.5s;
      cursor: pointer;
      &:hover{
        transform: scale(1.1);

      }
    }
  }
  .page-registratin{
    .modal{
      .modal-dialog{
        .modal-content{
          width: 400px;
          height: 560px;
          margin: 20px auto;
          background-image: url("../Images/fon/fon-registration2.jpg");
          background-size: 100%;
          background-repeat: no-repeat;
          box-shadow: 10px 10px 30px #6b6b6b, -10px -10px 30px #6b6b6b;
          border-radius: 30px;
          .modal-body{
            .title{
              text-align: center;
              font-size: 30px;
              font-weight: bold;
              font-family: Calibri;
              margin-top: 20px;
              color: #174fa8;
            }
            .sign{
              margin-top: 40px;
              margin-left: 50px;
              .inpud{
                width: 300px;
                height: 40px;
                margin-bottom: 40px;
                border-radius: 20px;
                padding-left: 50px;
                box-sizing: border-box;
                border: 1px solid #cbcbcb;
                &:focus{
                  outline: none;
                  box-shadow: 2px 2px 10px #174fa8, -2px -2px 10px #174fa8;
                }
              }
              .main{
                position: relative;
                img{
                  width: 24px;
                  height: 24px;
                  position: absolute;
                  left: 15px;
                  top: 8px;
                }
              }
              .main1{
                position: relative;
                img{
                  width: 32px;
                  height: 32px;
                  position: absolute;
                  left: 12px;
                  top: 3px;
                }
              }
            }
            .check{
              margin-left: 55px;
            }
            .check1{
              font-size:18px;
              font-family: Calibri;
              color: #174fa8;
              font-weight: 600;
            }
            .button1{
              &:focus{
                outline: none;
              }
              &:hover{
                background-color: #1854c6;
              }
              width: 180px;
              height: 35px;
              border-radius: 20px;
              font-size: 15px;
              font-weight: bold;
              margin-top: 30px;
              margin-left: 100px;
              background-color: #174fa8;
              color: white;
              border: none;
              a{
                text-decoration: none;
                color: white;
                margin-left: 40px;
              }
            }
            .check2{
              font-size:18px;
              font-family: Calibri;
              color: #174fa8;
              font-weight: 600;
              margin-left: 85px;
              a{
                color: #174fa8;
              }
            }
          }
        }
      }
    }
  }
}
.mobile-menu{
  .modal-dialog{
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
    max-height: 800px;
  }
  .modal-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../Images/main/2222.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    .name{
      font-size: 30px;
      font-weight: bold;
      color: #174fa8;
    }
    .modal-header{
      margin-top: 10px;

    }
    .modal-body{
      margin-top: 30px;
      margin-bottom: 25px;
      img {
        margin-left: 100px;
        margin-bottom: 20px;
        width: 50px;
        height: 50px;
      }
      .text{
        font-weight: bold;
        font-size: 20px;
        color: #10274f;
      }
    }
    .modal-footer{
      margin-bottom: 30px;
    }
  }
}
.desktop-search{
  position: absolute;
  left: 120px;
  top: 20px;
  input{
    padding-left: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 350px;
    height: 30px;
    border: 0;
    border-top: 0.2px solid #a4a4a4;
    &:focus{
      outline: none;
    }
  }
}


header{
  background-color: #f3f3f3;
  .container{
    margin-top: 106px;
    .row{
      margin-bottom: 40px;
    .col-12{
      .mobile-carousel{
        display: none;
      }
    }
    }
  }
  .fon1 {
    .mobile-fon1{
      display: none;
    }
    position: relative;
    width: 100%;
    height: 550px;
    img {
      width: 100%;
      height: 100%;
    }
    .maxtitle1{
      @extend %title1;
      top: 163px;
    }
    .mintitle1{
      @extend %title2;
      top: 233px;
    }
    .fonbtn1{
      @extend %fonbtn;top: 326px;
      left: 121px;
    }
    .buton{
      width: 60px;
      height: 30px;
      background-color: #f2f2f2;
      color: #858585;
      position: absolute;
      margin-left: 10px;
      border: 0;
      border-radius: 10px;
      &:focus{
        outline: none;
      }
      font-size: 13px;

      &:hover{
        box-shadow: 2px 2px 5px #C4E5F6, -2px -2px 5px #C4E5F6;
      }
    }
  }
  .fon2{
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 500px;
    img{
      width: 100%;
      height:500px;
    }
    .maxtitle2{
      @extend %title1;
      top: 129px;
      left: 121px;
      color: black;
    }
    .mintitle2{
      @extend %title2;
      top: 209px;
      left: 121px;
      color: black;
    }
    .fonbtn2{
      @extend %fonbtn;
      cursor: pointer;
      top: 310px;
      left: 121px;
      background-color: black;
      color: white;
      &:hover{
        background-color: #fcfaff;
        color: black;
      }
    }
  }
  .fon3{
    .row{
      .mobile{
        display: none;
      }
      .col-md-4{
        .mobtext{
          display: none;

        }

        margin-top: 10px;
        .card{
          border: none;
          img{
            cursor: pointer;
            transition: 0.4s;
            &:hover{
              margin-top: -15px;
              box-shadow: 10px 10px 20px #d8d8d8, -10px -10px 20px #dcdcdc;
            }
          }
          .card-body{
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            background-color: #f3f3f3;
          }
        }
      }
    }
  }
  .fon4 {
    .mobile-fon1{
      display: none;
    }
    position: relative;
    width: 100%;
    height: 550px;
    margin-top: 100px;
    img {
      width: 100%;
      height: 100%;
    }
    .maxtitle1{
      @extend %title1;
      top: 163px;
    }
    .mintitle1{
      @extend %title2;
      top: 233px;
    }
    .fonbtn4{
      @extend %fonbtn;
      width: 214px;
      height: 62px;
      top: 302px;
      left: 121px;
    }
    .fonbtn5{
      @extend %fonbtn;
      width: 214px;
      height: 62px;
      top: 302px;
      left: 355px;
    }
  }
}
.col-12{
  .Name{
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    text-transform: uppercase;
  }
}
#first-carousel{
  .mainone{
    img{
      position: absolute;
      width: 460px;
      height: 350px;
      top: 14px;
      left: 66px;
    }

    position: relative;
    width: 550px;
    height: 450px;
    background-color: white;
    margin-right: 10px;
    .latter{
      position: absolute;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      text-transform: capitalize;
      color: #000000;
      top: 323px;
      left: 30px;

    }
    .latter1{
      position: absolute;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      text-transform: capitalize;
      color: #000000;
      top: 353px;
      left: 30px;
    }
    .minbutton{
      position: absolute;
      width: 109px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border: 1px solid black;
      top: 390px;
      left: 30px;
      color: black;
      transition: 0.5s;
      &:hover{
        background-color: black;
        color: white;
        box-shadow: 1px 1px 5px #C4E5F6, -1px -1px 5px #C4E5F6;

      }
      &:focus{
        outline: none;
      }
    }
  }
  .maintwo{
    img{
      position: absolute;
      width: 100%;
      height: 100%;
    }
    position: relative;
    width: 550px;
    height: 450px;
    background-color: white;
    .latter{
      position: absolute;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      text-transform: capitalize;
      color: white;
      top: 323px;
      left: 30px;

    }
    .latter1{
      position: absolute;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      text-transform: capitalize;
      color: white;
      top: 353px;
      left: 30px;
    }
    .minbutton{
      position: absolute;
      width: 109px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      top: 390px;
      left: 30px;
      color: black;
      border: none;
      transition: 0.5s;
      &:hover{
        background-color: black;
        color: white;
        box-shadow: 1px 1px 5px #C4E5F6, -1px -1px 5px #C4E5F6;

      }
      &:focus{
        outline: none;
      }
    }
  }
  .mainthree{
    img{
      position: absolute;
      width: 400px;
      height: 350px;
      top: 14px;
      left: 66px;
    }
    position: relative;
    width: 550px;
    height: 450px;
    background-color: white;
    margin-right: 10px;
    .latter{
      position: absolute;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      text-transform: capitalize;
      color: #000000;
      top: 323px;
      left: 30px;

    }
    .latter1{
      position: absolute;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      text-transform: capitalize;
      color: #000000;
      top: 353px;
      left: 30px;
    }
    .minbutton{
      position: absolute;
      width: 109px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border: 1px solid black;
      top: 390px;
      left: 30px;
      color: black;
      transition: 0.5s;
      &:hover{
        background-color: black;
        color: white;
        box-shadow: 1px 1px 5px #C4E5F6, -1px -1px 5px #C4E5F6;

      }
      &:focus{
        outline: none;
      }
    }
  }
  .owl-next{
    span{
      display: none;
    }
    width: 40px;
    height: 40px;
    background-image: url("../Images/carousel1/Vector (4).png");
    background-repeat: no-repeat;
    background-position: center center;
    &:focus{
      outline: none;
    }
    &:hover{
      border-radius: 50%;
      background-color: #d8d8d8;
    }
  }
  .owl-prev{
    span{
      display: none;
    }
    width: 40px;
    height: 40px;
    background-image: url("../Images/carousel1/Vector (3).png");
    background-repeat: no-repeat;
    background-position: center center;
    &:focus{
      outline: none;
    }
    &:hover{
      border-radius: 50%;
      background-color: #d8d8d8;
    }
  }
  .owl-nav{
    position: absolute;
    top: -110px;
    right: 15px;
  }
}
#second-carousel{
  .owl-next{
    span{
      display: none;
    }
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 2px 2px rgba(222, 222, 222, 0.53);
    position: absolute;
    right: -27px;
    background-image: url("../Images/carousel2/Vector (1).png");
    background-repeat: no-repeat;
    background-position: center center;
    &:focus{
      outline: none;
    }
    &:hover{
      border-radius: 50%;
      box-shadow: 2px 2px 7px blue, -2px -2px 7px blue;
    }
  }
  .owl-prev{
    span{
      display: none;
    }
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 2px 2px rgba(222, 222, 222, 0.53);
    position: absolute;
    left: -26px;
    background-image: url("../Images/carousel2/Vector.png");
    background-repeat: no-repeat;
    background-position: center center;
    &:focus{
      outline: none;
    }
    &:hover{
      border-radius: 50%;
      box-shadow: 2px 2px 7px blue, -2px -2px 7px blue;
    }
  }
  .owl-nav{
    position: absolute;
    top: 38%;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .card{
    transition: 0.4s;
    cursor: pointer;
    &:hover{
      transform: scale(0.9);
      box-shadow: 5px 5px 10px #cfcbd9, -5px -5px 10px #cfcbd9;
    }
    border: none;
    .card-body{
      .name{
        font-size: 18px;
        line-height: 21px;
      }
      .footer{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        .price{
          font-weight: bold;
          font-size: 24px;
          line-height: 29px;
        }
        .add{
          width: 46px;
          height: 46px;
          border-radius: 50%;
          transition: 0.5s;
          &:hover{
            box-shadow: 2px 2px 7px #6da5d3, -2px -2px 7px #6da5d3;
            background-color: black;
            .icon{
              background-color: white;
            }
          }
          background-color: #e9e9e9;
          cursor:pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          box-sizing: border-box;
          .icon{
            width: 20px;
            height: 20px;
            display: inline-block;
            background-color:black;
            transition: 0.4s linear;
            mask: {
              repeat: no-repeat;
              size: 80%;
              position: center center;
            };
            -webkit-mask: {
              repeat: no-repeat;
              size: 80%;
              position: center center;
            };

          }
          .icon-shop{
            mask-image: url("../Images/carousel2/Vector.svg");
            -webkit-mask-image: url("../Images/carousel2/Vector.svg");
          }
        }
      }
    }
  }
}


footer{
  .mobile-footer{
    display: none;
  }
  .desktop-footer{
    margin-top: 94px;
    .row{
      .col-3{
        .box{
          .line{
            font-size: 18px;
            line-height: 21px;
            letter-spacing: -0.02em;
            margin-bottom: 30px;
          }
        }
        .box1{
            .line1{
              margin-top: 10px;
              margin-bottom: 10px;
              font-weight: 600;
              font-size: 22px;
              line-height: 26px;
              letter-spacing: -0.02em;

            }
            .line2{
              font-weight: 400;
              font-size: 18px;
              line-height: 26px;
              letter-spacing: -0.02em;

          }
            .line3{
              .body{
                width: 300px;
                height: 60px;
                border: 1px solid black;
                margin-top: 29px;
                margin-bottom: 30px;
                display: flex;
                .card1{
                  width: 70%;
                  height: 100%;
                  border: none;
                  padding-left: 15px;
                  box-sizing: border-box;
                  &:focus{
                    outline: none;

                  }
                }
                .card2{
                  background-color: #e9e9e9;
                  cursor:pointer;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  padding: 10px;
                  box-sizing: border-box;
                  width: 30%;
                  height: 100%;
                  border: none;
                  border-left: 1px solid black;
                  background-color: white;
                  &:focus{
                    outline: none;

                  }
                  &:hover{
                    box-shadow: 2px 2px 7px #6da5d3, -2px -2px 7px #6da5d3;
                    background-color: black;
                    .icon{
                      background-color: white;
                    }
                  }
                  .icon{
                    width: 80%;
                    height: 80%;
                    display: inline-block;
                    background-color:black;
                    transition: 0.4s linear;
                    mask: {
                      repeat: no-repeat;
                      size: 70%;
                      position: center center;
                    };
                    -webkit-mask: {
                      repeat: no-repeat;
                      size: 70%;
                      position: center center;
                    };

                  }
                  .icon-email{
                    mask-image: url("../Images/futer/Vector.svg");
                    -webkit-mask-image: url("../Images/futer/Vector.svg");
                  }
                }
              }

            }
            .line4{
              img{
                margin-right: 18px;
                cursor: pointer;
                &:hover{
                  transform: scale(1.2);
                }
              }
            }
        }
      }
      .col-6{
        margin-top: 140px;
        margin-bottom: 30px;
        .body1{
          display: flex;
          .text{
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: -0.02em;
            margin-right: 30px;
            margin-left: 12px;
          }
        }
        .body2{
          margin-left: 180px;
          img{
            cursor: pointer;
            margin-right: 15px;
            transition: 0.3s;
            &:hover{
              transform: scale(1.2);
            }
          }
        }
      }
    }


  }




}
.mobile-loading{
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row-reverse;
    .navbar-toggler{
      &:focus{
        outline: none;
      }
    }
    .navbar-collapse{
      .navbar-nav{
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
        .nav-item{
          background-color: #ddeff8;
          margin-bottom: 5px;
          border-radius: 5px;
          border: 0.3px solid #c4d3de;
          .nav-link {
            opacity: 1;
            color: #292929;
            font-size: 18px;
            margin-right: 0;
          }
        }
        .mobile-item{

          display: flex;
          justify-content: center;
          align-items: center;
          .person{

            img{
              margin-top: 3px;
              margin-bottom: 3px;
              width: 28px;
              height: 28px;
              margin-left: 20px;
            }

          }
          .page-registratin{
            .modal{
              .modal-dialog{
                .modal-content{
                  width: 350px;
                  height: 470px;
                  margin: 30px auto;
                  background-image: url("../Images/fon/fon-registration2.jpg");
                  background-size: 100%;
                  background-repeat: no-repeat;
                  box-shadow: 10px 10px 30px #6b6b6b, -10px -10px 30px #6b6b6b;
                  border-radius: 30px;
                  .modal-body{
                    .title{
                      text-align: center;
                      font-size: 25px;
                      font-weight: bold;
                      font-family: Calibri;
                      margin-top: 18px;
                      color: #174fa8;
                    }
                    .sign{
                      margin-top: 20px;
                      margin-left: 20px;
                      .inpud{
                        width: 240px;
                        height: 40px;
                        margin-bottom: 20px;
                        border-radius: 20px;
                        padding-left: 36px;
                        box-sizing: border-box;
                        border: 1px solid #cbcbcb;
                        &:focus{
                          outline: none;
                          box-shadow: 2px 2px 10px #174fa8, -2px -2px 10px #174fa8;
                        }
                      }
                      .main{
                        position: relative;
                        img{
                          width: 20px;
                          height: 20px;
                          position: absolute;
                          left: 38px;
                          top: 10px;
                        }
                      }
                      .main1{
                        position: relative;
                        img{
                          width: 23px;
                          height: 23px;
                          position: absolute;
                          left: 38px;
                          top: 7px;
                        }
                      }
                    }
                    .check{
                      margin-left: 35px;
                    }
                    .check1{
                      font-size:14px;
                      font-family: Calibri;
                      color: #174fa8;
                      font-weight: 600;
                    }
                    .button1{
                      &:focus{
                        outline: none;
                      }
                      &:hover{
                        background-color: #1854c6;
                      }
                      width: 150px;
                      height: 35px;
                      border-radius: 20px;
                      font-size: 15px;
                      font-weight: bold;
                      margin: 30px auto 0 auto;
                      background-color: #174fa8;
                      color: white;
                      border: none;
                      a{
                        text-decoration: none;
                        color: white;
                        margin: 0 auto;
                      }
                    }
                    .check2{
                      font-size:14px;
                      font-family: Calibri;
                      color: #174fa8;
                      font-weight: 600;
                      margin: 0 auto;
                      a{
                        color: #174fa8;
                      }
                    }
                  }
                }
              }
            }
          }
          .love{
            .modal-dialog{
              .modal-content{
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: url("../Images/main/fon33.jpg");
                background-size: 100%;
                background-repeat: no-repeat;
                .name{
                  font-size: 30px;
                  font-weight: bold;
                  color: #174fa8;
                }
                .modal-header{
                  margin-top: 80px;
                  img{
                    width: 50px;
                    height: 50px;
                  }
                }
                .modal-body{
                  margin-top: 50px;
                  margin-bottom: 50px;
                  .text{
                    font-weight: bold;
                    font-size: 20px;
                    color: #10274f;
                  }
                }
                .modal-footer{
                  margin-bottom: 50px;
                }
              }
              margin-top: 0;
              margin-bottom: 0;
              max-width: 100%;
              max-height: 800px;
            }
          }

        }
      }

    }
    .right-menu {
      display: none;
    }
  }
  .desktop-brand {
    display: none;
  }
  .mobile-brand {
    .navbar-brand {
      img {
        width: 50px;
        height: 44px;
        margin-right: 0;
      }
    }
    display: flex;
  }
  .mobile-menu {
    display: flex;
    margin-right: 10px;

    .search {
      margin-right: 20px;
    }
  }
  .mobile-search {
    input {
      padding-left: 20px;
      box-sizing: border-box;
      width: 100%;
      border: 0;
      border-top: 0.2px solid #a4a4a4;
    }
  }
  #first-carousel {
    .mainone {
      position: relative;
      width: 414px;
      height: 288px;
      background-color: white;

      .latter {
        position: absolute;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        text-transform: capitalize;
        color: #000000;
        top: 160px;
        left: 30px;

      }

      .latter1 {
        position: absolute;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-transform: capitalize;
        color: #000000;
        top: 187px;
        left: 30px;
      }

      .minbutton {
        position: absolute;
        width: 109px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: 1px solid black;
        top: 217px;
        left: 30px;
        color: black;

        &:hover {
          background-color: black;
          color: white;
          box-shadow: 1px 1px 5px #C4E5F6, -1px -1px 5px #C4E5F6;

        }

        &:focus {
          outline: none;
        }
      }
      img {
        position: absolute;
        width: 250px;
        height: 200px;
        top: 14px;
        left: 140px;
      }
    }
    .maintwo {
      img {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      position: relative;
      width: 414px;
      height: 288px;
      background-color: white;

      .latter {
        position: absolute;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        text-transform: capitalize;
        color: white;
        top: 160px;
        left: 30px;

      }

      .latter1 {
        position: absolute;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-transform: capitalize;
        color: white;
        top: 187px;
        left: 30px;
      }

      .minbutton {
        position: absolute;
        width: 109px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        top: 217px;
        left: 30px;
        color: black;
        border: none;

        &:hover {
          background-color: black;
          color: white;
          box-shadow: 1px 1px 5px #C4E5F6, -1px -1px 5px #C4E5F6;

        }

        &:focus {
          outline: none;
        }
      }
    }
    .mainthree {
      position: relative;
      width: 414px;
      height: 288px;
      background-color: white;
      margin-right: 10px;

      .latter {
        position: absolute;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        text-transform: capitalize;
        color: #000000;
        top: 160px;
        left: 30px;

      }

      .latter1 {
        position: absolute;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-transform: capitalize;
        color: #000000;
        top: 187px;
        left: 30px;
      }

      .minbutton {
        position: absolute;
        width: 109px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: 1px solid black;
        top: 217px;
        left: 30px;
        color: black;

        &:hover {
          background-color: black;
          color: white;
          box-shadow: 1px 1px 5px #C4E5F6, -1px -1px 5px #C4E5F6;

        }

        &:focus {
          outline: none;
        }
      }
      img {
        position: absolute;
        width: 270px;
        height: 250px;
        top: 0;
        left: 100px;
      }
    }
    .owl-next {
      width: 20px;
      height: 20px;
      background-image: url("../Images/carousel1/Vector (4).png");
      background-repeat: no-repeat;
      background-position: center center;

      &:focus {
        outline: none;
      }

      &:hover {
        border-radius: 50%;
        background-color: #d8d8d8;
      }
    }
    .owl-prev {
      width: 20px;
      height: 20px;
      background-image: url("../Images/carousel1/Vector (3).png");
      background-repeat: no-repeat;
      background-position: center center;

      &:focus {
        outline: none;
      }

      &:hover {
        border-radius: 50%;
        background-color: #d8d8d8;
      }
    }
    .owl-nav {
      position: absolute;
      top: -90px;
      right: 15px;
    }
  }
  header {
    .container {
      margin-top: 20px !important;
      .row {
        margin-bottom: 40px;
        .col-12 {
          .desktop-carousel {
            display: none;
          }
          .mobile-carousel {
            .row{
              .col-12{
                a{
                  text-decoration: none;
                }
              }
            }
            .mobuton {
              font-size: 18px;
              line-height: 21px;
              font-weight: 500;
              width: 100%;
              background-color: white;
              height: 63px;
              display: flex;
              justify-content: center;
              align-items: center;
              border: none;

              &:focus {
                outline: none;
              }

              &:hover {
                background-color: black;
                color: white;
              }
            }

            display: flex;

            .card {
              .card-body {
                .name {
                  font-size: 18px;
                  line-height: 21px;
                }

                .footer {
                  display: flex;
                  align-items: flex-end;
                  justify-content: space-between;

                  .price {
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 29px;
                  }

                  .add {
                    width: 58px;
                    height: 58px;
                    border-radius: 50%;

                    &:hover {
                      box-shadow: 2px 2px 7px #6da5d3, -2px -2px 7px #6da5d3;
                      background-color: black;

                      .icon {
                        background-color: white;
                      }
                    }

                    background-color: #e9e9e9;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .icon {
                      width: 20px;
                      height: 20px;
                      display: inline-block;
                      background-color: black;
                      transition: 0.4s linear;
                      mask: {
                        repeat: no-repeat;
                        size: 90%;
                        position: center center;
                      };
                      -webkit-mask: {
                        repeat: no-repeat;
                        size: 90%;
                        position: center center;
                      };

                    }

                    .icon-shop {
                      mask-image: url("../Images/carousel2/Vector.svg");
                      -webkit-mask-image: url("../Images/carousel2/Vector.svg");
                    }
                  }
                }
              }
            }
          }
          .Name {
            font-size: 22px;
            margin-left: 20px;
          }
        }
      }
    }
    .fon1 {
      height: 250px;
      .desktop-fon1 {
        display: none;
      }
      .mobile-fon1 {
        display: flex;
        width: 100%;
        height: 250px;

      }
      .maxtitle1 {
        left: 20px;
        top: 44px;
        font-size: 16px;
      }
      .mintitle1 {
        left: 20px;
        top: 80px;
        font-size: 10px;
      }
      .fonbtn1 {
        font-size: 12px;
        width: 130px;
        height: 30px;
        top: 130px;
        left: 20px;
      }
    }
    .fon2 {
      margin-top: 0;
      height: 230px;
      img {
        height: 230px;
        margin-right: -80px;
      }
      .maxtitle2 {
        top: 57px;
        left: 49px;
        font-size: 15px;
      }
      .mintitle2 {
        top: 91px;
        left: 49px;
        font-size: 12px;
      }
      .fonbtn2 {
        width: 120px;
        height: 30px;
        font-size: 10px;
        top: 133px;
        left: 49px;
      }
    }
    .fon3 {
      .row {
        .desktop {
          display: none;
        }

        .mobile {
          display: block;

          a {
            text-decoration: none;
            color: black;
          }
        }

        .col-md-4 {
          .mobtext {
            display: flex;
            font-weight: bold;
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 20px;
            text-transform: uppercase;
            margin-left: 10px;
          }

          .mobbtn {
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 63px;
            background-color: white;

            &:hover {
              background-color: black;
              color: white;
            }
          }

          margin-top: 15px;

          .card {
            img {
              &:hover {
                margin-top: 0;
                box-shadow: 0 0 0 transparent, 0 0 0 transparent;
              }
            }
            border: none;
            .card-body {
              font-weight: 500;
              font-size: 24px;
              line-height: 29px;
              background-color: #f3f3f3;
            }
          }
        }
      }
    }
    .fon4 {
      .desktop-fon1 {
        display: none;
      }

      .mobile-fon1 {
        display: flex;
      }

      margin-top: 20px;
      height: 280px;

      .maxtitle1 {
        font-size: 16px;
        top: 30px;
        left: 40px;
      }

      .mintitle1 {
        font-size: 12px;
        top: 70px;
        left: 40px;
      }

      .fonbtn4 {
        top: 130px;
        left: 40px;
        width: 100px;
        height: 35px;
        font-size: 10px;
      }

      .fonbtn5 {
        top: 130px;
        left: 150px;
        width: 100px;
        height: 35px;
        font-size: 10px;
      }
    }
  }
  footer {
    .desktop-footer {
      display: none;
    }
    .mobile-footer {
      margin-top: 30px;
      display: block;
      .row{
        .col-12{
          .collapse{
            .mobile-support{
              .box{
                .line{
                  font-size: 10px;
                  margin-bottom: 5px;
                }
              }
              padding: 5px;
              margin-top: 20px;
              display: flex;
              justify-content: space-between;
            }
          }
          .support{
            display: flex;
            justify-content: space-between;
            .name{
              font-size: 22px;
              line-height: 26px;
              font-weight: normal;
            }
          }
          .About-puma{
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            .name{
              font-size: 22px;
              line-height: 26px;
              font-weight: normal;
            }
          }
          .collapse{
            .mobile-puma{
              margin-top: 20px;
              .box1{
                padding: 18px;
                box-sizing: border-box;
                border: 0.5px solid #c2c2c2;
                .line1{
                  margin-top: 10px;
                  margin-bottom: 10px;
                  font-weight: 600;
                  font-size: 18px;
                  line-height: 20px;
                  letter-spacing: -0.02em;

                }
                .line2{
                  font-weight: 400;
                  font-size: 15px;
                  line-height: 26px;
                  letter-spacing: -0.02em;

                }
                .line3{
                  .body{
                    width: 200px;
                    height: 60px;
                    border: 1px solid black;
                    margin-top: 29px;
                    margin-bottom: 30px;
                    display: flex;
                    .card1{
                      width: 70%;
                      height: 100%;
                      border: none;
                      padding-left: 15px;
                      box-sizing: border-box;
                      &:focus{
                        outline: none;

                      }
                    }
                    .card2{
                      background-color: #e9e9e9;
                      cursor:pointer;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      padding: 10px;
                      box-sizing: border-box;
                      width: 30%;
                      height: 100%;
                      border: none;
                      border-left: 1px solid black;
                      background-color: white;
                      &:focus{
                        outline: none;

                      }
                      &:hover{
                        box-shadow: 2px 2px 7px #6da5d3, -2px -2px 7px #6da5d3;
                        background-color: black;
                        .icon{
                          background-color: white;
                        }
                      }
                      .icon{
                        width: 80%;
                        height: 80%;
                        display: inline-block;
                        background-color:black;
                        transition: 0.4s linear;
                        mask: {
                          repeat: no-repeat;
                          size: 70%;
                          position: center center;
                        };
                        -webkit-mask: {
                          repeat: no-repeat;
                          size: 70%;
                          position: center center;
                        };

                      }
                      .icon-email{
                        mask-image: url("../Images/futer/Vector.svg");
                        -webkit-mask-image: url("../Images/futer/Vector.svg");
                      }
                    }
                  }

                }
                .line4{
                  img{
                    margin-right: 18px;
                    cursor: pointer;
                    &:hover{
                      transform: scale(1.2);
                    }
                  }
                }
              }
            }
          }
          .mobile-online{
            margin: 80px 0 60px  0;
            img{
              margin-right: 18px;
            }
          }
          .united{
            display: flex;
            margin-top: 55px;
            .text{
              font-size: 16px;
              line-height: 19px;
              margin-left: 10px;

            }
          }
        }
      }
    }
  }
  .desktop-loading{
    display: none;
  }
}